.Button {
  background-color: #9254c8;
  color: white;
  padding: 1rem;
  border: none;
  transition: all 250ms ease-in-out;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.24);
  font-weight: 800;
  align-self: center;
  width: fit-content;
}

.Button:hover {
  transform: scale(105%);
}

.Button:active {
  filter: brightness(0.9);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.Button:disabled {
  filter: grayscale(100%);
}
