.Button-group {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.GameForm-password {
  color: #9254c8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
