* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.rounded-corners {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
